body {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: black;
}

.App {
  position: relative;
  /* width: fit-content; */
  /* width: 100vw;
  height: 100vh; */
}

#root {
  position: absolute;
}