@font-face {
  font-family: spaceMono;
  src: url('../../assets/fonts/Space_Mono/SpaceMono-Regular.ttf');
}

body {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: black;
}

.App {
  position: relative;
  display: grid;
}

#app-background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url('../../assets/universe.png');
  background-position: start;
  background-size: cover;
  filter: blur(12px);
  -webkit-filter: blur(12px);
}

#start-container {
  display: grid;
}

#root {
  position: absolute;
}