.navbar {
  display: grid;
  justify-self: center;
  grid-auto-flow: column;
  background-color: rgba(255, 0, 0, 1);
  /* padding: 10px; */
  position: fixed;
  width: 100%;
}

.navbar-div {
  display: grid;
  grid-auto-flow: column;
}

.start-page {
  display: grid;
  grid-auto-flow: column;
  width: 75vw;
  height: 75vh;
  color: white;
  border: 1px solid white;
}

.start-page > div:last-of-type {
  width: 200px;
  border: 2px solid blue;
  padding: 5px;
  margin: 5px;
}
